.scrollytelling_tutorial.scrollytelling-tutorial {
  z-index: 1;
  height: 100%;
  width: 20%;
  top: 176px;
  left: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 4px;
  padding: 7px;
  position: relative;

  overflow: auto;
}

.scrollytelling_tutorial.scrollytelling-disabled {
  width: 20%;
}

.scrollytelling_container {
  padding: 5%;
}

.encodingView.scrollytelling-disabled {
  display: none;
}


.scrollytelling_tutorial {

}

.scrollytelling_tutorial h3 {

}

.scrollytelling_tutorial-hider {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: calc(74px + 117px);
  background: white;
}

.scrollytelling_tutorial img {
  max-width: 100%;
}

.scrollytelling-highlighted {
  background: #fcc;
  padding: 0.5vw;
}

.noFill.scrollytelling-highlighted {
  fill: #f88 !important;
}

body {

}

.app {
}


#scrollytelling_indicator {
  height: 4em;
  width: 20%;
  position: fixed;
  top: 30vh;
  left: calc(80% - 2.5em);

  svg {

  }
}

#btnExitTutorial {
  font-size: 1.5em;
  padding: 0.4em 1.6em;
  margin: 1em auto 25vh;
}

.scrollytelling_waypoint {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}


.scrollytelling-hidden {
  visibility: hidden !important;
}


.scrollytelling-hidden * {
  visibility: hidden !important;
}

.scrollytelling_spacer {
  height: 25vh;
}


.sankey_features.scrollytelling-tutorial {
  position: fixed;
  z-index: 3;
}

.sankey_diagram.scrollytelling-tutorial {
  position: fixed;
}

.sankey_diagram.fullscreen {
  width: 96%;
}

.sankey_details, .sankey_details2 {
  position: absolute;
}

.scrollytelling-tutorial ~ .sankey_details {
  position: fixed;
}

.scrollytelling-tutorial ~ .sankey_details2 {
  position: fixed;
}

.scrollytelling_tutorial-hider.scrollytelling-disabled {
  display: none;
}

#scrollytelling_indicator.scrollytelling-disabled {
  display: none;
}





